<% include ./partials/header %>
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>Logs</h5>
          </div>
          <div class="widget-content nopadding">
            <table id="tag-table" class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>timestamp</th>
                  <th>id</th>
                  <th>ip</th>
                  <th>event</th>
                  <th>date</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<logs.length; i++) { %>
                <tr class="odd gradeX" style="background-color:#<%- logs[i].bgColor %>;font-weight: 700;">
                    <td style="text-align:center;"><%- logs[i].date %></td>
                    <td style="text-align:center;"><%- logs[i].server %></td>
                    <td style="text-align:center;"><%- logs[i].ip %></td>
                    <td style="text-align:center;"><%- logs[i].event %></td>
                    <td style="text-align:center;"><%- logs[i].dateStr %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>